body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

section {
    padding: 50px 20px;
}

.project {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}
